/*________________________ header ___________________________*/
body {
  position: relative;
  font-family: 'PT Sans', Arial, Helevetica, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

.container {
  max-width: 1170px;
  width: 100%;
  min-width: 320px;
}

/*________________________ base end ___________________________*/
/*-------------------------------------------------------------*/
/*________________________ header ___________________________*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 30px 0;
  border-bottom: 1px solid #ffffff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: block;
  width: 126px;
  height: 55px;
  margin-top: -15px;
  background: url("../images/logo.png") no-repeat;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.header .menu {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.header .menu__item a {
  display: block;
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
  transition: .3s;
  font-weight: bold;
}
.header .menu__item a:hover {
  transition: .3s;
  text-decoration: none;
}
.header .menu__item_m a:hover {
  background-color: #4c66a4;
}
.header .menu__item_d a:hover {
  background-color: #10b47d;
}
.header .menu__item_p a:hover {
  background-color: #684e79;
}
.header .menu__item_cp a:hover {
  background-color: #dd4b39;
}
.header .menu__item_ct a:hover {
  background-color: #2c3e50;
}
.header_static {
  position: static;
  background-color: #ffffff;
  border-bottom-color: #7b8b8e;
}
.header_static .header__logo {
  background: url("../images/logo-green.png") no-repeat;
}
.header_static .menu__item a {
  color: #7b8b8e;
}
.header_static .menu__item a:hover {
  color: #ffffff;
}
.header.fixed {
  background-color: #ffffff;
  border-bottom-color: #7b8b8e;
}
.header.fixed .header__logo {
  background: url("../images/logo-green.png") no-repeat;
}
.header.fixed .menu__item a {
  color: #7b8b8e;
  transition: .3s;
}
.header.fixed .menu__item a:hover {
  color: #ffffff;
  transition: .3s;
}

@media screen and (max-width: 992px) {
  .header {
    position: relative;
  }

  .menuToggle {
    display: block;
  }
  .menuToggle span {
    display: block;
    width: 40px;
    height: 6px;
    margin-bottom: 6px;
    background-color: #ffffff;
  }
  .menuToggle span:last-child {
    margin-bottom: 0;
  }

  .header {
    background-color: #44A961;
  }
  .header__nav {
    display: none;
    text-align: center;
    position: absolute;
    top: 101%;
    left: 0;
    margin-top: 0;
    width: 100%;
    z-index: 99;
    background-color: #44A961;
  }
  .header .menu {
    display: block;
  }
  .header .menu__item {
    display: block;
  }
  .header .menu__item a {
    font-size: 26px;
    border-bottom: 1px solid #ffffff;
  }
  .header_static {
    border-bottom-color: #ffffff;
  }
  .header_static .header__logo {
    background: url("../images/logo.png") no-repeat;
  }
  .header_static .menu__item a {
    color: #ffffff !important;
  }
}
/*________________________ header end ___________________________*/
/*---------------------------------------------------------------*/
/*________________________ content ___________________________*/
.textBlock {
  padding: 100px 0;
  background: url("../images/patern.png") no-repeat center/cover;
}
.textBlock__title {
  margin-top: 0;
  margin-bottom: 34px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
}
.textBlock__descr {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .textBlock__title {
    font-size: 24px;
  }
  .textBlock__descr {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .textBlock__title {
    margin-bottom: 15px;
  }
  .textBlock__descr {
    font-size: 18px;
  }

  .textBlock {
    padding: 30px 0;
  }
}
/*___________________________________________________*/
.directions {
  padding: 88px 0;
  background-color: #ffffff;
}
.directions__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 36px;
  color: #242424;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .directions {
    padding: 30px 0;
  }
  .directions__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
/*___________________________________________________*/
.thumbnails {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid #b1b3ae;
  border-right: 0;
  background-color: white;
  transition: .3s;
  cursor: pointer;
}
.thumbnails:last-child {
  border-right: 1px solid #b1b3ae;
}
.thumbnails_shadow {
  border: 1px solid #eee;
}
.thumbnails_shadow:hover {
  box-shadow: 0 3px 5px 0 rgba(96, 125, 139, 0.19);
}
.thumbnails_shadow:last-child {
  border-right-color: #eee;
}
.thumbnails__caption {
  padding: 30px 15px;
}
.thumbnails:hover {
  text-decoration: none;
}
.thumbnails__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  transition: .3s;
}
.thumbnails__logo {
  display: block;
}
.thumbnails__logo_m {
  width: 51px;
  height: 50px;
  background: url("../images/m_logo.png") no-repeat center;
}
.thumbnails__logo_cp {
  width: 48px;
  height: 52px;
  background: url("../images/cp_logo.png");
}
.thumbnails__logo_d {
  width: 39px;
  height: 42px;
  background: url("../images/d_logo.png");
}
.thumbnails__logo_p {
  width: 54px;
  height: 63px;
  background: url("../images/p_logo.png");
}
.thumbnails__text {
  display: block;
  text-align: center;
  font-size: 24px;
  color: #2d2d2d;
  font-weight: bold;
}
.thumbnails__text_m {
  color: #4c66a4;
}
.thumbnails__text_cp {
  color: #dd4b39;
}
.thumbnails__text_d {
  color: #10b47d;
}
.thumbnails__text_p {
  color: #684e79;
}

.date {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.date span {
  font-size: 14px;
  color: #d0d0d0;
  line-height: 1;
}
.date .startCourses:before {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  content: ' ';
  margin-right: 6px;
  background: url("../images/calendar.png") no-repeat center;
}

.leftAlign {
  text-align: left;
}

@media screen and (max-width: 992px) {
  .thumbnails {
    margin-bottom: -1px;
  }
  .thumbnails:nth-child(2) {
    border-right: 1px solid #b1b3ae;
  }
}
@media screen and (max-width: 768px) {
  .thumbnailsCont {
    margin-bottom: 26px;
  }
  .thumbnailsCont:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .thumbnails {
    width: 100%;
    float: none;
    border-right: 1px solid #b1b3ae;
  }
}
/*___________________________________________________*/
.topics {
  padding: 88px 0;
  background-color: #f4f7f8;
  text-align: center;
}
.topics__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 36px;
  color: #242424;
  text-transform: uppercase;
}
.topics__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 30px 0;
  height: 34px;
  padding: 0 10px;
  line-height: 34px;
  border-radius: 50px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .topics {
    padding: 30px 0;
  }
  .topics__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
/*___________________________________________________*/
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background: url("../images/mainimg.png") no-repeat center/cover;
}
.banner__caption {
  text-align: center;
}
.banner__caption h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 72px;
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}
.banner__caption h2 span {
  font-weight: bold;
}
.banner__caption > span {
  font-size: 24px;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .banner {
    background-size: auto;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    height: 50vh;
  }
  .banner__caption {
    text-align: center;
  }
  .banner__caption h2 {
    font-size: 30px;
  }
}
/*________________________ content end ___________________________*/
/*________________________ category _______________________________*/
.cat__title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 52px;
  color: #ffffff;
  line-height: 1;
}
.cat__descr {
  text-align: center;
  margin-bottom: 60px;
  color: #ffffff;
  font-size: 18px;
}
.cat__mainImg {
  padding: 70px 0;
  text-align: center;
  background: url("../images/programming.jpg") no-repeat center/cover;
}
.cat__mainImg_pm {
  background: url("../images/pm.jpg") no-repeat center/cover;
}
.cat__mainImg_marketing {
  background: url("../images/marketing.jpg") no-repeat center/cover;
}

.subCat {
  padding: 53px 0;
}
.subCat__title {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}
.subCat__item {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.subCat__itemTitle {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-top: 0;
}
.subCat__itemTitle a {
  color: #242424;
  transition: .3s;
}
.subCat__itemTitle a:hover {
  color: #183b59;
  transition: .3s;
  text-decoration: none;
}
.subCat__descr {
  width: 70%;
  padding: 15px;
}
.subCat__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: #2980b9;
}

@media screen and (max-width: 992px) {
  .subCat__itemWrap {
    margin-bottom: 26px;
  }
  .subCat__itemWrap:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .subCat__item {
    display: block;
  }
  .subCat__descr {
    width: 100%;
  }
  .subCat__img {
    width: 100%;
    padding: 15px 0;
  }
}
.html .img {
  background-color: #dd4b39;
}
.html i {
  border: 6px solid #ec6630;
  padding: 15px;
  border-radius: 50%;
  background-color: #ffffff;
}
.html i:before {
  display: block;
  content: " ";
  width: 60px;
  height: 60px;
  background: url("../images/html.svg") no-repeat center/cover;
}

.php .img {
  background-color: #4c66a4;
}
.php i {
  display: block;
  padding: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 6px solid #35465c;
}
.php i:after {
  content: 'php';
  background: none;
  line-height: 60px;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3d3452;
}

.photoshop .img {
  background-color: #65a1c2;
}
.photoshop i {
  display: block;
  padding: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 6px solid #89d3ff;
}
.photoshop i:after {
  display: block;
  width: 60px;
  height: 60px;
  content: ' ';
  background: url("../images/photoshop.svg") no-repeat center/cover;
}

.illustrator .img {
  background-color: #d59e2b;
}
.illustrator i {
  display: block;
  padding: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 6px solid #ffbd2e;
}
.illustrator i:after {
  display: block;
  width: 60px;
  height: 60px;
  content: ' ';
  background: url("../images/illustrator.svg") no-repeat center/cover;
}

.pm .img {
  background-color: #2EA2DB;
}
.pm i {
  display: block;
  padding: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 6px solid #26415b;
}
.pm i:after {
  display: block;
  width: 60px;
  height: 60px;
  content: ' ';
  background: url("../images/pm.svg") no-repeat center/cover;
}

.marketing .img {
  background-color: #55a545;
}
.marketing i {
  display: block;
  padding: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 6px solid #71D456;
}
.marketing i:after {
  display: block;
  width: 60px;
  height: 60px;
  content: ' ';
  background: url("../images/marketing.svg") no-repeat center/cover;
}

.designImg {
  background: url("../images/design.jpg") no-repeat center/cover;
}

.courseDuration {
  display: block;
  margin-bottom: 32px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.catBtn {
  display: inline-block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
  background: #673AB7;
  background: -moz-linear-gradient(left, #673AB7 0%, #3F51B5 100%);
  background: -webkit-linear-gradient(left, #673AB7 0%, #3F51B5 100%);
  background: linear-gradient(to right, #673AB7 0%, #3F51B5 100%);
  font-weight: bold;
  transition: background .3s;
}
.catBtn:hover {
  text-decoration: none;
  color: #ffffff;
  background: -moz-linear-gradient(left, #3F51B5 0%, #673AB7 100%);
  background: -webkit-linear-gradient(left, #3F51B5 0%, #673AB7 100%);
  background: linear-gradient(to right, #3F51B5 0%, #673AB7 100%);
  transition: background .3s;
}

/*________________________ category end ___________________________*/
/*________________________ program  ___________________________*/
.program {
  padding: 50px 0;
  text-align: center;
}
.program_programming {
  background: #b17de2;
  background: -moz-linear-gradient(left, #8889cc 0%, #673AB7 100%);
  background: -webkit-linear-gradient(left, #8889cc 0%, #673AB7 100%);
  background: linear-gradient(to right, #8889cc 0%, #673AB7 100%);
}
.program_design {
  background: #47a899;
  background: -moz-linear-gradient(left, #47a899 0%, #16c98d 100%);
  background: -webkit-linear-gradient(left, #47a899 0%, #16c98d 100%);
  background: linear-gradient(to right, #47a899 0%, #16c98d 100%);
}
.program__title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}
.program__list {
  display: inline-block;
  width: 50%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 60px;
  color: #ffffff;
  font-size: 24px;
  list-style: none;
}
.program__listItem {
  border: 3px solid;
  text-align: center;
  padding: 15px;
  margin-bottom: 16px;
  background-color: #fff;
}
.program__listItem:last-child {
  margin-bottom: 0;
}
.program__listItem span {
  display: block;
  color: #5a5757;
  font-size: 24px;
  font-weight: bold;
}

.btnWrap {
  margin-bottom: 60px;
}

.download a {
  font-size: 18px;
  color: #ffffff;
}
.download a:before {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 32px;
  content: ' ';
  margin-right: 26px;
  background: url("../images/download.png") no-repeat;
}
.download span {
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .program__list {
    width: 100%;
  }
}
/*________________________ program end ___________________________*/
/*________________________ payment ___________________________*/
.paymentBlock {
  padding: 50px 0;
  background: url("../images/payment.jpg") no-repeat center/cover;
}

.payment {
  width: 600px;
  display: flex;
  margin: 0 auto;
}
.payment__left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: #f7f7f1;
}
.payment__left .priceTitle {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #242424;
}
.payment__left .price {
  display: block;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}
.payment__right {
  width: 75%;
  padding: 25px 0;
  text-align: center;
  background-color: #ffffff;
}
.payment__right .formTitle {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 32px;
}
.payment__right input {
  display: block;
  width: 70%;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}
.payment__right input:focus {
  outline: none;
}
.payment__right .inputWrap {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 32px;
}
.payment__right .inputWrap input[type="checkbox"] {
  display: none;
}
.payment__right .inputWrap input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #d0d0d0;
  margin-bottom: 0;
}
.payment__right .inputWrap input[type="checkbox"]:checked + label {
  background-color: #3d3452;
}
.payment__right .inputWrap a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
}
.payment form .catBtn {
  border: none;
}
.payment .btnWrap {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .payment {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .payment__left {
    width: 100%;
    padding: 26px 0;
  }
  .payment__right {
    width: 100%;
  }
  .payment > {
    width: 100%;
  }
}
/*________________________ program end ___________________________*/
/*----------------------------------------------------------------*/
/*________________________ contactsBlock ___________________________*/
.contactsBlock {
  padding: 100px 0;
}
.contactsBlock__title {
  font-size: 40px;
  margin-top: 0;
  text-transform: uppercase;
  line-height: 1;
}
.contactsBlock__address {
  font-size: 20px;
}
.contactsBlock__email {
  font-size: 20px;
}
.contactsBlock .contacts {
  margin-bottom: 26px;
}
.contactsBlock .contacts__item {
  text-align: left;
  color: #000;
}
.contactsBlock .social__item a {
  border-color: #000;
}
.contactsBlock .social__item a:after {
  background: url("../images/socialC.png");
}

@media screen and (max-width: 768px) {
  .contactsBlock {
    padding: 26px 0;
  }
  .contactsBlock .contacts__item {
    text-align: center;
  }
  .contactsBlock__left {
    text-align: center;
  }
}
/*________________________ contactsBlock end _______________________*/
/*----------------------------------------------------------------*/
/*________________________ footer ___________________________*/
.footer {
  padding: 26px 0 74px 0;
  background-color: #2c3e50;
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 34px;
  border-bottom: 1px solid #ffffff;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
}
.footer__logo {
  display: block;
}
.footer__logo:before {
  display: inline-block;
  vertical-align: middle;
  width: 126px;
  height: 55px;
  content: ' ';
  margin-right: 14px;
  background: url("../images/footer-logo.png") no-repeat center;
}
.footer__logo:hover {
  text-decoration: none;
}
.footer__logo span {
  display: inline-block;
  vertical-align: middle;
  margin-top: 18px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
}
.footer__menu {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.footer__menuItem {
  display: inline-block;
  margin-left: 32px;
}
.footer__menuItem:first-child {
  margin-left: 0;
}
.footer__menuItem a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: underline;
}
.footer__menuItem a:hover {
  text-decoration: none;
}
.footer__cr {
  display: block;
  margin-top: 26px;
  color: #828181;
  font-size: 18px;
}

.social {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.social__item a:after {
  display: block;
  content: " ";
  background: url("../images/social.png") no-repeat;
  transform: rotate(0deg);
  transition: .2s;
}
.social__item a:hover:after {
  transform: rotateY(360deg);
  transition: .2s;
}
.social__item a.vk:after {
  width: 12px;
  height: 14px;
  background-position: -15px center;
}
.social__item a.fb:after {
  width: 12px;
  height: 18px;
  background-position: -67px center;
}
.social__item a.inst:after {
  width: 16px;
  height: 18px;
  background-position: -116px center;
}

.contacts {
  text-align: right;
}
.contacts__item {
  display: block;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-bottom: 30px;
  }
  .footer__logo:before {
    display: block;
    width: 206px;
    height: 89px;
    margin-right: 0;
    background-size: cover;
  }
  .footer__logo span {
    display: block;
    font-size: 14px;
  }
  .footer__menuItem {
    display: block;
    margin-bottom: 16px;
    margin-left: 0;
  }
  .footer__menuItem:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer__logo {
    margin-bottom: 34px;
  }
  .footer__logo:before {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__logo span {
    text-align: center;
  }
  .footer__menuItem {
    text-align: center;
  }
  .footer__top {
    display: block;
  }
  .footer__bottom {
    flex-direction: column;
  }

  .contacts {
    text-align: center;
  }

  .social {
    margin-bottom: 34px;
  }
}
/*________________________ footer end ___________________________*/
/*---------------------------------------------------------------*/
