/*________________________ header ___________________________*/
body {
  position: relative;
  font-family: 'PT Sans', Arial, Helevetica, "Helvetica Neue", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}
.container {
  max-width: 1170px;
  width: 100%;
  min-width: 320px;
}

/*________________________ base end ___________________________*/
/*-------------------------------------------------------------*/
//background: #4CAF50;
//background: -moz-linear-gradient(left, #F05A28 0%, #E80A89 100%);
//background: -webkit-linear-gradient(left, #4CAF50 0%, #8BC34A 100%);
//background: linear-gradient(to right, #4CAF50 0%, #8BC34A 100%);