/*________________________ content ___________________________*/
.textBlock {
  padding: 100px 0;
  background: url("../images/patern.png") no-repeat center/cover;
  &__title {
    margin-top: 0;
    margin-bottom: 34px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
  }
  &__descr {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
  }
}

@media screen and (max-width: 992px) {
  .textBlock {
    &__title {
      font-size: 24px;
    }
    &__descr {
      font-size: 18px;
    }
  }

}

@media screen and (max-width: 768px) {
  .textBlock {
    &__title {
      margin-bottom: 15px;
    }
    &__descr {
      font-size: 18px;
    }
  }
  .textBlock {
    padding: 30px 0;
  }
}

/*___________________________________________________*/
.directions {
  padding: 88px 0;
  background-color: #ffffff;
  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 36px;
    color: #242424;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .directions {
    padding: 30px 0;
    &__title {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}

/*___________________________________________________*/
.thumbnails {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid #b1b3ae;
  border-right: 0;
  background-color: rgba(255, 255, 255, 1);
  transition: .3s;
  cursor: pointer;
  &:last-child {
    border-right: 1px solid #b1b3ae;
  }
  &_shadow {
    border: 1px solid #eee;
    &:hover {
      box-shadow: 0 3px 5px 0 rgba(96, 125, 139, 0.19);
    }
    &:last-child {
      border-right-color: #eee;
    }
  }
  &__caption {
    padding: 30px 15px;
  }
  &:hover {
    text-decoration: none;
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    transition: .3s;

  }

  &__logo {
    display: block;
  }
  &__logo_m {
    width: 51px;
    height: 50px;
    background: url("../images/m_logo.png") no-repeat center;
  }
  &__logo_cp {
    width: 48px;
    height: 52px;
    background: url("../images/cp_logo.png");
  }
  &__logo_d {
    width: 39px;
    height: 42px;
    background: url("../images/d_logo.png");
  }
  &__logo_p {
    width: 54px;
    height: 63px;
    background: url("../images/p_logo.png");
  }
  &__logo {

  }
  &__text {
    display: block;
    text-align: center;
    font-size: 24px;
    color: #2d2d2d;
    font-weight: bold;
    &_m {
      color: #4c66a4;
    }
    &_cp {
      color: #dd4b39;
    }
    &_d {
      color: #10b47d;
    }
    &_p {
      color: #684e79;
    }
  }
}

.date {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  span {
    font-size: 14px;
    color: #d0d0d0;
    line-height: 1;
  }
  .startCourses {
    &:before {
      @include inlineBlockAlign(middle);
      width: 12px;
      height: 12px;
      content: ' ';
      margin-right: 6px;
      background: url("../images/calendar.png") no-repeat center;
    }
  }
}

.leftAlign {
  text-align: left;
}

@media screen and (max-width: 992px) {
  .thumbnails {
    margin-bottom: -1px;
    &:nth-child(2) {
      border-right: 1px solid #b1b3ae;
    }
  }
}

@media screen and (max-width: 768px) {
  .thumbnailsCont {
    margin-bottom: 26px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .thumbnails {
    width: 100%;
    float: none;
    border-right: 1px solid #b1b3ae;
  }
}

/*___________________________________________________*/
.topics {
  padding: 88px 0;
  background-color: rgb(244, 247, 248);
  text-align: center;
  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 36px;
    color: #242424;
    text-transform: uppercase;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 30px 0;
    height: 34px;
    padding: 0 10px;
    line-height: 34px;
    border-radius: 50px;
    color: #ffffff;
  }
}

@media screen and (max-width: 768px) {
  .topics {
    padding: 30px 0;
    &__title {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}

/*___________________________________________________*/
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background: url("../images/mainimg.png") no-repeat center/cover;
  &__caption {
    text-align: center;
    h2 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 72px;
      color: #ffffff;
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-top: 0;
      span {
        font-weight: bold;
      }
    }

    > span {
      font-size: 24px;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 992px) {
  .banner {
    background-size: auto;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: 50vh;

    &__caption {
      text-align: center;
      h2 {
        font-size: 30px;
      }
    }
  }
}

/*________________________ content end ___________________________*/
/*________________________ category _______________________________*/
.cat {
  &__title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 52px;
    color: #ffffff;
    line-height: 1;
  }
  &__descr {
    text-align: center;
    margin-bottom: 60px;
    color: #ffffff;
    font-size: 18px;
  }
  &__mainImg {
    padding: 70px 0;
    text-align: center;
    background: url("../images/programming.jpg") no-repeat center/cover;
    &_pm {
      background: url("../images/pm.jpg") no-repeat center/cover;
    }
    &_marketing {
      background: url("../images/marketing.jpg") no-repeat center/cover;
    }
  }
}

.subCat {
  padding: 53px 0;
  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    &Title {
      display: flex;
      align-items: center;
      font-size: 24px;
      margin-top: 0;
      a {
        color: #242424;
        transition: .3s;
        &:hover {
          color: #183b59;
          transition: .3s;
          text-decoration: none;
        }
      }
    }
  }
  &__descr {
    width: 70%;
    padding: 15px;
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: #2980b9;
  }
}

@media screen and (max-width: 992px) {
  .subCat {
    &__itemWrap {
      margin-bottom: 26px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .subCat {
    &__item {
      display: block;

    }
    &__descr {
      width: 100%;
    }
    &__img {
      width: 100%;
      padding: 15px 0;
    }
  }
}

.html {
  .img {
    background-color: #dd4b39;
  }
  i {
    border: 6px solid #ec6630;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    &:before {
      display: block;
      content: " ";
      width: 60px;
      height: 60px;
      background: url("../images/html.svg") no-repeat center/cover;
    }
  }
}

.php {
  .img {
    background-color: #4c66a4;
  }
  i {
    display: block;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 6px solid #35465c;
    &:after {
      content: 'php';
      background: none;
      line-height: 60px;
      text-align: center;
      font-size: 34px;
      font-weight: bold;
      text-transform: uppercase;
      color: #3d3452;
    }
  }
}

.photoshop {
  .img {
    background-color: rgb(101, 161, 194);
  }
  i {
    display: block;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 6px solid rgb(137, 211, 255);
    &:after {
      display: block;
      width: 60px;
      height: 60px;
      content: ' ';
      background: url("../images/photoshop.svg") no-repeat center/cover;
    }
  }
}

.illustrator {
  .img {
    background-color: rgb(213, 158, 43);
  }
  i {
    display: block;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 6px solid rgb(255, 189, 46);
    &:after {
      display: block;
      width: 60px;
      height: 60px;
      content: ' ';
      background: url("../images/illustrator.svg") no-repeat center/cover;
    }
  }
}

.pm {
  .img {
    background-color: #2EA2DB;
  }
  i {
    display: block;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 6px solid #26415b;
    &:after {
      display: block;
      width: 60px;
      height: 60px;
      content: ' ';
      background: url("../images/pm.svg") no-repeat center/cover;
    }
  }
}

.marketing {
  .img {
    background-color: #55a545;
  }
  i {
    display: block;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 6px solid #71D456;
    &:after {
      display: block;
      width: 60px;
      height: 60px;
      content: ' ';
      background: url("../images/marketing.svg") no-repeat center/cover;
    }
  }
}

.designImg {
  background: url("../images/design.jpg") no-repeat center/cover;
}

.courseDuration {
  display: block;
  margin-bottom: 32px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.catBtn {
  display: inline-block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
  background: #673AB7;
  background: -moz-linear-gradient(left, #673AB7 0%, #3F51B5 100%);
  background: -webkit-linear-gradient(left, #673AB7 0%, #3F51B5 100%);
  background: linear-gradient(to right, #673AB7 0%, #3F51B5 100%);
  font-weight: bold;
  transition: background .3s;
  &:hover {
    text-decoration: none;
    color: #ffffff;
    background: -moz-linear-gradient(left, #3F51B5 0%, #673AB7 100%);
    background: -webkit-linear-gradient(left, #3F51B5 0%, #673AB7 100%);
    background: linear-gradient(to right, #3F51B5 0%, #673AB7 100%);
    transition: background .3s;
  }
}

/*________________________ category end ___________________________*/
/*________________________ program  ___________________________*/
.program {
  padding: 50px 0;
  text-align: center;
  &_programming {
    background: #b17de2;
    background: -moz-linear-gradient(left, #8889cc 0%, #673AB7 100%);
    background: -webkit-linear-gradient(left, #8889cc 0%, #673AB7 100%);
    background: linear-gradient(to right, #8889cc 0%, #673AB7 100%);
  }
  &_design {
    background: #47a899;
    background: -moz-linear-gradient(left, #47a899 0%, #16c98d 100%);
    background: -webkit-linear-gradient(left, #47a899 0%, #16c98d 100%);
    background: linear-gradient(to right, #47a899 0%, #16c98d 100%);
  }
  &__title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
  }
  &__list {
    display: inline-block;
    width: 50%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 60px;
    color: #ffffff;
    font-size: 24px;
    list-style: none;
  }
  &__listItem {
    border: 3px solid;
    text-align: center;
    padding: 15px;
    margin-bottom: 16px;
    background-color: #fff;
    &:last-child {
      margin-bottom: 0;
    }
    span {
      display: block;
      color: #5a5757;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.btnWrap {
  margin-bottom: 60px;
}

.download {
  a {
    font-size: 18px;
    color: #ffffff;
    &:before {
      @include inlineBlockAlign(middle);
      width: 30px;
      height: 32px;
      content: ' ';
      margin-right: 26px;
      background: url("../images/download.png") no-repeat;
    }
  }
  span {
    @include inlineBlockAlign(middle);
  }
}
@media screen and (max-width: 768px){
  .program {
    &__list {
      width: 100%;
    }
  }
}
/*________________________ program end ___________________________*/
/*________________________ payment ___________________________*/
.paymentBlock {
  padding: 50px 0;
  background: url("../images/payment.jpg") no-repeat center/cover;
}

.payment {
  width: 600px;
  display: flex;
  margin: 0 auto;
  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #f7f7f1;
    .priceTitle {
      display: block;
      text-align: center;
      font-size: 18px;
      color: #242424;
    }
    .price {
      display: block;
      font-size: 48px;
      font-weight: bold;
      text-align: center;
      line-height: 1;
    }
  }
  &__right {
    width: 75%;
    padding: 25px 0;
    text-align: center;
    background-color: #ffffff;

    .formTitle {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 32px;
    }
    input {
      display: block;
      width: 70%;
      font-size: 18px;
      border: none;
      border-bottom: 1px solid #d0d0d0;
      margin-bottom: 32px;
      margin-left: auto;
      margin-right: auto;
      &:focus {
        outline: none;
      }
    }
    .inputWrap {
      display: block;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      margin-bottom: 32px;
      input[type="checkbox"] {
        display: none;
      }
      input[type="checkbox"]+ label {
        @include inlineBlockAlign(middle);
        width: 20px;
        height: 20px;
        border: 1px solid #d0d0d0;
        margin-bottom: 0;
      }
      input[type="checkbox"]:checked + label{
        background-color: #3d3452;
      }
      a {
        @include inlineBlockAlign(middle);
        margin-left: 10px;
        text-decoration: none;
        font-size: 16px;
        line-height: 1;
        font-weight: bold;
      }
    }
  }
  form {
    .catBtn {
      border: none;
    }
  }
  .btnWrap {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .payment {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    &__left {
      width: 100%;
      padding: 26px 0;
    }
    &__right {
      width: 100%;
    }
    &> {
      width: 100%;
    }
  }
}
/*________________________ program end ___________________________*/
/*----------------------------------------------------------------*/
/*________________________ contactsBlock ___________________________*/
.contactsBlock {
  padding: 100px 0;
  &__title {
    font-size: 40px;
    margin-top: 0;
    text-transform: uppercase;
    line-height: 1;
  }
  &__address {
    font-size: 20px;
  }
  &__email {
    font-size: 20px;
  }
  .contacts {
    margin-bottom: 26px;
    &__item {
      text-align: left;
      color: #000;
    }
  }
  .social {
    &__item {
      a {
        border-color: #000;
        &:after {
          background: url("../images/socialC.png");
        }
      }
    }
  }
}
@media screen and (max-width: 768px){
  .contactsBlock {
    padding: 26px 0;
    .contacts {
      &__item {
        text-align: center;
      }
    }
    &__left {
      text-align: center;
    }
  }
}
//.callback {
//  display: none;
//  position: fixed;
//  left: 0;
//  right: 0;
//  top: 0;
//  bottom: 0;
//  margin: auto;
//  width: 280px;
//  height: 320px;
//  z-index: 999999;
//  background-color: #ffffff;
//  .payment__right {
//    width: 100%;
//    border: 1px solid #7b8b8e;
//  }
//}
//.callback-btn {
//  position: fixed;
//  bottom: 10%;
//  right: 10%;
//  width: 50px;
//  height: 50px;
//  border-radius: 50%;
//  background: url("../images/phone.svg") no-repeat center/cover;
//}
//.overlay {
//  display: none;
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  top: 0;
//  background-color: rgba(0,0,0,.8);
//  z-index: 99999;
//}
/*________________________ contactsBlock end _______________________*/
/*----------------------------------------------------------------*/