/*________________________ footer ___________________________*/
.footer {
  padding: 26px 0 74px 0;
  background-color: rgba(44, 62, 80,1.0);
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 34px;
    border-bottom: 1px solid #ffffff;

  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;
  }
  &__logo {
    display: block;
    &:before {
      @include inlineBlockAlign(middle);
      width: 126px;
      height: 55px;
      content: ' ';
      margin-right: 14px;
      background: url("../images/footer-logo.png") no-repeat center;
    }
    &:hover {
      text-decoration: none;
    }
    span {
      @include inlineBlockAlign(middle);
      margin-top: 18px;
      font-size: 18px;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 1;
    }
  }
  &__menu {
    @include listReset;
    &Item {
      display: inline-block;
      margin-left: 32px;
      &:first-child {
        margin-left: 0;
      }
      a {
        font-size: 18px;
        color: #ffffff;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__cr {
    display: block;
    margin-top: 26px;
    color: #828181;
    font-size: 18px;
  }
}

.social {
  @include listReset;
  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 1px solid #ffffff;
      &:after {
        display: block;
        content: " ";
        background: url("../images/social.png") no-repeat;
        transform: rotate(0deg);
        transition: .2s;
      }
      &:hover {
        &:after {
          transform: rotateY(360deg);
          transition: .2s;
        }
      }
      &.vk {
        &:after {
          width: 12px;
          height: 14px;
          background-position: -15px center;
        }
      }
      &.fb {
        &:after {
          width: 12px;
          height: 18px;
          background-position: -67px center;
        }
      }
      &.inst {
        &:after {
          width: 16px;
          height: 18px;
          background-position: -116px center;
        }
      }
    }
  }
}

.contacts {
  text-align: right;
  &__item {

    display: block;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &__logo {
      &:before {
        display: block;
        width: 206px;
        height: 89px;
        margin-right: 0;
        background-size: cover;
      }
      span {
        display: block;
        font-size: 14px;
      }
    }
    &__menu {
      &Item {
        display: block;
        margin-bottom: 16px;
        margin-left: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &__logo {
      margin-bottom: 34px;
      &:before {
        margin-left: auto;
        margin-right: auto;
      }
      span {
        text-align: center;
      }
    }
    &__menu {
      &Item {
        text-align: center;
      }
    }
    &__top {
      display: block;
    }
    &__bottom {
      flex-direction: column;
    }
  }
  .contacts {
    text-align: center;
  }
  .social {
    margin-bottom: 34px;
  }
}
/*________________________ footer end ___________________________*/
/*---------------------------------------------------------------*/