/*________________________ header ___________________________*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 30px 0;
  border-bottom: 1px solid #ffffff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: block;
    width: 126px;
    height: 55px;
    margin-top: -15px;
    background: url("../images/logo.png") no-repeat;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  .menu {
    @include listReset;
    display: flex;
    justify-content: space-between;
    &__item {
      a {
        display: block;
        padding: 10px;
        font-size: 18px;
        color: #ffffff;
        transition: .3s;
        font-weight: bold;
        &:hover {
          transition: .3s;
          text-decoration: none;
        }
      }
      &_m {
        a {
          &:hover {
            background-color: #4c66a4;
          }
        }
      }
      &_d {
        a {
          &:hover {
            background-color: #10b47d;
          }
        }
      }
      &_p {
        a {
          &:hover {
            background-color: #684e79;
          }
        }
      }
      &_cp {
        a {
          &:hover {
            background-color: #dd4b39;
          }
        }
      }
      &_ct {
        a {
          &:hover {
            background-color: rgba(44, 62, 80,1.0);
          }
        }
      }
    }
  }
  &_static {
    position: static;
    background-color: #ffffff;
    border-bottom-color: #7b8b8e;
    .header__logo {
      background: url("../images/logo-green.png") no-repeat;
    }
    .menu {
      &__item {
        a {
          color: #7b8b8e ;
          &:hover {
            color: #ffffff ;
          }
        }
      }
    }
  }
  &.fixed {
    background-color: #ffffff;
    border-bottom-color: #7b8b8e;
    .header__logo {
      background: url("../images/logo-green.png") no-repeat;
    }
    .menu {
      &__item {
        a {
          color: #7b8b8e;
          transition: .3s;
          &:hover {
            color: #ffffff;
            transition: .3s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    position: relative;
  }
  .menuToggle {
    display: block;
    span {
      display: block;
      width: 40px;
      height: 6px;
      margin-bottom: 6px;
      background-color: #ffffff;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .header {
    background-color: #44A961;
    &__nav {
      display: none;
      text-align: center;
      position: absolute;
      top: 101%;
      left: 0;
      margin-top: 0;
      width: 100%;
      z-index: 99;
      background-color: #44A961;
    }
    .menu {
      display: block;
      &__item {
        display: block;
        a {
          font-size: 26px;
          border-bottom: 1px solid #ffffff;
        }
      }
    }
    &_static {
      border-bottom-color: #ffffff;
      .header__logo {
        background: url("../images/logo.png") no-repeat ;
      }
      .menu {
        &__item {
          a {
            color: #ffffff !important;
          }
        }
      }
    }
  }
}

/*________________________ header end ___________________________*/
/*---------------------------------------------------------------*/